.header-section{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.header-nav{
    display: flex;
    list-style: none;
}

.header-nav a{
    text-decoration: none;
    color:#fff;
    margin-left: 30px;
}
.header-nav {
    color:chocolate;
}
.active{
    color:chocolate;
}