.registretion-section{
    width: 30%;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
}
.registretion-section h1{
    font-size: 28px;
    text-align: center;
    margin-top: 0;
}

input{
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
}
.sign-up-btn{
    background-color: #FFE0B3;
    width: 100%;
}
.social-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
hr{
    margin: 20px 0;
}
.social-btn img{
    width: 40px;
    margin-right: 10px;
}
.text-error{
    color:red;
}